/* p {
  font-size: 32px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 0.5em;
} */

/* main {
  width: 50%;
  font-size: 2rem;
}

p {
  font-size: 2rem;
} */

.container {
  /* border: 2px dashed red; */
  border: 2px outset red;
  /* width: 50%; */
  font-size: 1.5rem;
  padding: 0.5em;
  /* margin: 0.5em; all directions */
  margin: 1.5em 1.5em;
}

.circle {
  background: gold;
  width: 3rem;
  height: 3rem;
  border: 2px solid #000;
  outline: 2px solid red;
  outline-offset: 0.25em;
  margin: 0.25rem;
  border-radius: 1.5rem;
}
